h1 {
    border: 0px;
    color: #8e26C0;
    text-align: center;
    font-size: 64px;
    max-width:1200px; width:100%; margin: 0 auto;
    height: 84px;
    margin-top: 24px;
    margin-bottom: 32px;  
}
#amazing {
    background-color: #FFE8E8;
    color: #F00;
    width: 565px;
    padding: 24px 48px 24px 48px;
    text-align: center;
    margin: 32px 1323px 29px 32px;
    font-size: 32px; 
}
#exclusive {
    color: #85647B;
    text-align: center;
    width: 1023px;
    height: 144px;
    padding: 24px 40px 24px 40px;
    border-right: 6px solid #05F;
    border-left: 4px solid #C11574;
    border-top: 2px solid #00c76e;
    border-bottom: 2px solid #6f3fde;
    font-size: 40px;
    margin: 29px 865px 47px 32px;
}
#sale {
    text-align: center;
    color: #414651;
    font-size: 32px;
    width: 1023px;
    height: 133px;
    padding: 24px 40px 24px 40px;
    background: #FFE8E8;
    margin:47px 865px 36px 32px;
}
span {
    text-decoration: underline;
    color: #FF4405;
}    
#shop {
    border: 2px solid #3538CD;
    width: 1069px;
    height: 86px;
    padding: 24px 40px;
    color: #0064CE;
    text-align: right;
    font-size: 32px;
    margin: 36px 819px 76px 32px;
}
#images {
    width: 556px;
    height: 347px;
    margin: 76px 1332px 122px 32px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}